
<div class="welcome-msg">
  <h4>Palettor.. A cool way to create your own color palettes!</h4>
</div>

  <svg class"dinosaur" viewBox="0 0 841.891 595.279" enable-background="new 0 0 841.891 595.279">
    <path stroke="#FFF" d="M620.463,92.893c-7.398-6.704-16.021-12.92-24.575-18.066c-12.92-7.756-27.383-12.685-44.872-9.797
      c-7.828,1.292-14.47,7.756-21.083,12.059c-6.445,4.185-20.13,19.912-15.401,27.057c1.499,7.026,8.839,9.374,16.063,14.016
      c9.552,6.14,23.098,7.257,31.29,8.034c41.875,3.914,63.635,34.607,84.041,64.592c16.354,24.032,24.987,76.344,2.036,97.729
      c-24.407,22.742-55.394,10.478-81.642,0.469c-64.333-24.49-123.341-16.718-174.717,30.293
      c-43.525,39.823-86.282,80.521-128.26,121.966c-38.012,37.539-79.071,66.465-135.337,68.741c-17.337,0.691-30.214-1.302-49.289,4.54
      c83.925,37.299,208.263-41.751,296.69-101.028c0.728,8.155,0.857,16.429,1.112,24.611c0.167,5.441-0.08,10.876,0.124,16.318
      c0.355,9.544,1.426,13.27,8.337,20.552c10.287,10.816,30.475,7.396,35.749-7.079c2.619-7.158,3.652-14.579,6.78-21.636
      c1.358-3.077,2.743-6.147,4.096-9.239c-0.007,3.769-0.051,7.529,0.095,11.298c0.356,9.545,1.436,13.263,8.337,20.553
      c10.287,10.825,30.478,7.393,35.76-7.077c2.609-7.158,3.645-14.588,6.771-21.631c1.419-3.223,2.866-6.431,4.277-9.651
      c8.891,1.258,16.704,1.972,25.245,2.239c9.325,0.29,18.639,0.598,27.965,0.889c10.621,0,20.414-1.695,30.177-3.397
      c0.124,3.551,0.218,7.103,0.327,10.638c0.168,5.44-0.08,10.884,0.124,16.323c0.356,9.545,1.426,13.265,8.337,20.545
      c10.287,10.825,30.475,7.398,35.75-7.069c2.619-7.158,3.651-14.586,6.779-21.637c0.423-0.96,0.857-1.929,1.28-2.896
      c0.175,0.262,0.394,0.582,0.522,0.742l0.829-0.438c2.387,6.314,3.543,12.85,5.854,19.191c5.274,14.463,25.473,17.896,35.75,7.071
      c6.911-7.29,7.98-11,8.346-20.546c0.204-5.44-0.043-10.884,0.116-16.316c0.175-5.405,0.35-10.862,0.617-16.289l0.378-0.204
      c4.321-19.104,15.68-36.244,26.663-52.118c15.336-22.145,22.072-54.942,21.259-82.626
      C721.185,216.874,669.481,137.281,620.463,92.893z"/>
  </svg>
